* {
    margin: 0px;
    padding: 0px;
}

html {
    /* css variables */
    --illustration-bg: #D9D9D9;
    --font-color-gray: #545050;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.font-color-gray {
    color: var(--font-color-gray);
}

.navbar {
    padding-inline: 8.375em; /* 134px */
    border-bottom: solid var(--illustration-bg);
}

.navbar-toggler{
    outline: none;
}

@media screen and (max-width: 768px){
    .navbar {
        padding-inline: 3em;
    }
} 

/* contact page */
#contact-page {
    z-index: 1;
    transform: translateY(-100%);
    background-color: #fff;
    border-bottom: solid var(--illustration-bg);
    position: absolute;
    width: 100vw;
    height: 60vh;
    padding-inline: 10rem;
}

#cancel-icon-box {
    display: flex;
    justify-content: end;
    fill: var(--illustration-bg);
}

/* bootstrap container */
.container-fluid {
    padding-inline: 8.375em;
}

/* meet the team */
.team-illustration-box {
    width: 18.75em; /* 300px */
    height: 18.75em; /* 300px */
    background-color: var(--illustration-bg);
}

.team-card-col {
    /* border: solid red; */
    width: 81.5625em;
    min-height: 55vh !important;
    height: 26em;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: center;
}

.team-card {
    min-width: 18.75em; /* 300px */
    height: 25em; /* 400px */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    border-bottom: solid #D9D9D9;
    /* border-top: solid var(--illustration-bg); */
}

#cardsBox {
   display: inline-flex; 
   /* border: solid red; */
   /* overflow-x: hidden; */
}

.cards-rows {
    display: flex;
}

.person {
    --transform-speed: 250ms; 
    position: relative;
    max-width: 12rem;
    margin-inline: auto;
    margin-block: auto;
}

.person-container {
    aspect-ratio: 1 / 1.35;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform var(--transform-speed) ease-in-out;
}

.person-container:hover { /* circle scale up */
    transform: scale(1.1);
}

.person-img {
    position: relative;
    transition: transform calc(var(--transform-speed) * 1.2) ease;
}

/* Arish */
#person-img-1 {
    transform: scale(1.4);
    z-index: 2;
}

#person-container-1:hover #person-img-1 {
    transform: 
        scale(1.4)
        translateY(-1.5rem);
}

/* Dio */
#person-img-2 {
    z-index: 2;
    bottom: 10rem;
    top: 10rem;
    transform: scale(2.8);
}

#person-container-2:hover #person-img-2 {
    transform: 
        scale(2.7)
        translateY(-1.1rem);
}

/* Jj */
#person-img-3 {
    transform: 
        scale(2.2)
        translateY(-0.5rem);
}

#person-container-3:hover #person-img-3 {
    transform: 
        scale(2.2)
        translateY(-1.5rem);
}

/* Jason C */
#person-img-4 {
    transform: scale(2);
}

#person-container-4:hover #person-img-4 {
    transform: 
        scale(2)
        translateY(-1.1rem);
}

/* Nadja */
#person-img-5 {
    position: relative;
    left: -5%;
    transform: scale(2.7);
    transform: translateX(3);
}

#person-container-5:hover #person-img-5 {
    transform: 
        scale(2.7)
        translateY(-0.8rem);
}

/* Joshua */
#person-img-6 {
    transform: scale(2);
}

#person-container-6:hover #person-img-6 {
    transform: 
        scale(2)
        translateY(-1.1rem);
}

/* Rachel */
#person-img-7 {
    transform: scale(1.5);
}

#person-container-7:hover #person-img-7 {
    transform: 
        scale(1.5)
        translateY(-1.3rem);
}

/* Rafa */
#person-img-8 {
    transform: 
        scale(1.9)
        translateY(-2.1rem);
}

#person-container-8:hover #person-img-8 {
    transform: 
        scale(1.9)
        translateY(-3.3rem);
}

/* Syahluna */
#person-img-10 {
    transform: 
        scale(2.4)
        translateY(-1.9rem)
        translateX(-0.3rem);
        
    }
    
    #person-container-10:hover #person-img-10 {
        transform: 
        scale(2.4)
        translateX(-0.3rem)
        translateY(-2.8rem);
}

/* Raihan */
#person-img-11 {
    transform: 
        scale(2.9)
        translateY(1.4rem);
}

#person-container-11:hover #person-img-11 {
    transform: 
        scale(2.9)
        translateY(0.6rem);
}

/* Michail */
#person-img-12 {
    transform: 
        scale(1.7)
        translateY(-0.9rem);
}

#person-container-12:hover #person-img-12 {
    transform: 
        scale(1.7)
        translateY(-2rem);
}

/* Izam */
#person-img-13 {
    transform: 
        scale(2)
        translateY(-0.2rem);
}

#person-container-13:hover #person-img-13 {
    transform: 
        scale(2)
        translateY(-1.2rem);
}

.person-circle {
    position: absolute;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    inset: auto 0 0;
    width: 100%;
    margin-inline: auto;
    border-radius: 50%;
}

.person-container img {
    max-width: 100%;
}

/* Landing Page*/
#landing-page{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

#landing-page img{
    object-fit: cover;
    min-width: 500px;
}

.landing-info{
    display: flex;
    flex-direction: column;
}

.landing-info h1{
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.landing-info p{
    text-align: justify;
}

.landing-info .logo{
    width: fit-content;
    margin-bottom: 1.5rem;
}

.sig-color{
    background-size:cover;
    background-image: linear-gradient(90deg, #EA4335 9.19%, #FFA647 15.84%, rgba(251, 188, 4, 0.83) 23.53%, #0F9D58 33.15%, #4285F4 48.75%, #7F56A2 70.65%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* @media screen and (max-width: 1050px){
    #landing-page{
        font-size: 16px;
    }

    .landing-info{
        align-items: center;
    }

    .landing-info *{
        text-align: center;
    }

    .landing-info h1{
        margin-bottom: 2rem;
    }
} */

/* about page */
.about-info h1{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #555555;
    text-shadow: -1px 2px 2px rgba(0,0,0, 0.2);
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.about-info p{
    font-size: 30px;    
    width: 75%;
}

/* oval shape */
.oval {
    width: 18px;
    height: 13px;
    background-color: #EA4335;
    border-radius: 50%;
}
  
.oval1 {
    width: 26px;
    height: 16px;
    background-color: #FBBC04;
    border-radius: 50%;
}

.oval2 {
    width: 28px;
    height: 18px;
    background-color: #0F9D58;
    border-radius: 50%;
}

.oval3 {
    width: 34px;
    height: 22px;
    background-color: #4285F4;
    border-radius: 50%;
}

.oval4 {
    width: 42px;
    height: 25px;
    background-color: #EA4335;
    border-radius: 50%;
}

.oval5 {
    width: 53px;
    height: 26px;
    background-color: #FBBC04;
    border-radius: 50%;
}

.oval6 {
    width: 88px;
    height: 26px;
    background-color: #0F9D58;
    border-radius: 50%;
}

.oval7 {
    width: 128px;
    height: 26px;
    background-color: #4285F4;
    border-radius: 50%;
}

.oval, .oval1, .oval2, .oval3, .oval4, .oval5, .oval6, .oval7 {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

/* current event */
.circle1{
    right: 0;
    top : 0;
    /* left: -10px;
    top: -5px; */
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(15, 157, 88, 0.25);
    border-radius: 50%;
}

.circle2{
    left: 0;
    bottom: 0;
    /* left: -7px;
    top: -108px; */
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(66, 133, 244, 0.25);
    border-radius: 50%;
}

.circle3{
    left: 0;
    top: 0;
    /* left: -75px;
    top: -90px; */
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(234, 67, 53, 0.25);
    border-radius: 50%;
}

.circle4{
    right: 0;
    bottom: 0;
    /* left: -211px;
    top: -33px; */
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(251, 188, 4, 0.25);
    border-radius: 50%;
}

/* .circle4:hover{
    animation: circleAnimation 0.5s ease-in;
    transition: all 0.2s ease-out;
} */

/* @keyframes circleAnimation {
    90% {
        transform: scale(500);
    }

    100% {
        background-color: transparent;
    }
} */

#latest-event .card{
    border-radius: 20px;
    /* min-width: 30em; */
    height: 18.75em;
    border: 1.4px solid var(--illustration-bg);
    overflow: hidden;
}

/* #latest-event .card:active [class ^= "circle"]{
    animation: circleAnimation 0.5s ease-in forwards;
    transition: all 3s ease-out;
} */

.card-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
#cur-event-logo{
    height: 7em;
}

#latest-event .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  

  #latest-event  .card::after {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 15px;
  }  
/* previous events */
#previous-event-col {
    /* min-height: 40vh !important; */
    height: 20em;
    overflow-y: scroll;
    white-space: nowrap;
}

#previous-event-heading {
    font-size: x-large;
}

.previous-event-img-box {
    height: 7em;
}

.previous-event-card:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.previous-event-card {
    min-width: 30em !important; /* 480px */
    height: 18.75em; /* 300px */
    border-radius: 20px;
    border: 1.4px solid var(--illustration-bg);
    transition: 200ms;
}

#previous-event-flutter {
    width: 4em;
}

#previous-event-minecraft {
    width: 6em;
}

/* Horizontal scrollbar */

.h-scrollbar::-webkit-scrollbar {
    height: 10px;
}

.h-scrollbar::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.2);
  }

.h-scrollbar::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}



#faq{
    margin-top: 5rem;
}

#faq > h1{
    font-size: 2rem;
}

.faq-container{
    display: grid;
    margin-top: 6rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 5rem;
}

.question{
    font-size: 1.2rem;
}

.question h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}